In [4]:
import sklearn

In [5]:
from sklearn.datasets import load_iris # 사이킷런 제공하는 데이터 셋 안에 iris 데이터셋 들고오기
from sklearn.tree import DecisionTreeClassifier # 사이킷런에서 제공하는 ML 알고리즘중 DTC를 사용하겠다.
from sklearn.model_selection import train_test_split # 학습데이터와 테스트데이터로 나눔

In [22]:
import pandas as pd
iris=load_iris()
iris_data=iris.data # iris.data는 iris 데이터 셋에서 피쳐만으로 된 데이터를 numpy로 가지고 있음.
iris_label=iris.target # iris.target은 레이블 데이터를 numpy로 가지고 있음.
print("iris.target값:",iris_label)
print("iris.target명: ",iris.target_names)

# DataFrame으로 변경하자
iris_df=pd.DataFrame(data=iris_data,columns=iris.feature_names)
iris_df["label"]=iris.target
iris_df.head(5)

iris.target값: [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
iris.target명:  ['setosa' 'versicolor' 'virginica']

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [21]:
X_train,X_test,y_train,y_test=train_test_split(iris_data,iris_label,test_size=0.2,random_state=11)

# DecisionTreeClassifier 객체 생성
df_clf=DecisionTreeClassifier(random_state=11)

# 학습 수행
df_clf.fit(X_train,y_train)

# 학습이 완료된 객체에서 테스트 데이터셋 예측 수행
pred=df_clf.predict(X_test)


from sklearn.metrics import accuracy_score
print("예측 정확도: {0:4f}".format(accuracy_score(y_test,pred)))

예측 정확도: 0.933333